.container {
    width: 80%;
    margin-left: 8%;
    background-color: #ffffff;
    padding:2%;
    border-radius: 8px;
    margin-bottom: 8%;
}

.container h3{
    color: #555;
}

.container h1{
    color: #3C5190;
    text-align: center;
}

.container p{
    color: #555;
}