/* edited by justine  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.moolah {
    background-color: #D1BDC7;
    font-family: Poppins;
}
.form-group p {
    color: #3C5190;
}

.HeaderText {
    color: #3C5190;
    text-align: center;
}

.container {
    background-color: #ffffff;
    float: right;
    width: 50%;
    margin-right: 24%;
    margin-left: 25%;
    border-radius: 8px;
}

.form-container h2 {
    margin-top: 0px;
    color: #3C5190;
    font-size: 30px;
}

.form-group-1 label {
    color: #3C5190;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.content-box {
    margin-left: 5%;
    margin-right: 5%;
}