@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pet-card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    background-color: #ddd;
    height: 525px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    text-align: center;
}

.pet-card img {
    width: 100%;
    border-radius: 10px;
    height: 200px; /* Fixed image height */
    object-fit: cover;
}

.pet-card .details {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.pet-card p {
    /* font-size: px; */
    line-height: 1.2;
    text-align: center;
    overflow: hidden;
    word-break: break-word;
    margin-top: 5px;
}

.pet-card .description {
    flex-grow: 1;
    font-size: clamp(17px, 1.2vw, 13px); /* Auto-shrink text */
    max-height: 4em; /* Limit to 3 lines */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}



button {
    font-family: Poppins;
    color: white;
    background-color: #3C5190;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    font-size: 19px;
}